{% extends "::base.html.twig" %}

{% block title %}{{ contact.prenom }} {{ contact.nom }}{% endblock %}

{% block body %}
<h1>{{ contact.prenom }} {{ contact.nom }}</h1>
<p>Email : {{ contact.email }}</p>
<p>Téléphone : {{ contact.telephone }}</p>

<a href="{{ path('app_contact_list') }}">Retour à la liste</a>
{% endblock %}
